/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*utiity classes*/
/*relative*/
/*absolute*/
/*boxed*/
/*full-width*/

/*clearfix*/
/*.clearfix:before,
.footer:before {
  content: '';
  display: table;
}

.clearfix:after,
.footer:after {
  content: '';
  display: table;
  clear: both;
}*/

/*STRUCTURE*/
/*paddings-margins*/
body {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.boxed {
  padding: 15%;
}
section {
  margin: 50px auto;
}


/*GENERAL STYILING*/
/*fonts*/
:root {
  --playfair-font: 'Playfair Display', serif;;
}
:root {
  --source-sans-font: 'Source Sans Pro', sans-serif;
}

/*colors*/
:root {
  /*navy*/
  --navy: #1b2535;
  /*dark navy*/
  --darknavy: #182638;
  /*gold*/
  --gold: #b37c57;
  /*white*/
  --white: #ffffff;
}

/*main elements*/

h1 {
  font-family: var(--playfair-font);
  font-size: 3.4375em;
  line-height: 3.75em;
}
h2 {
  font-family: var(--playfair-font);
  font-size: 2.25em;
  line-height: 2.625em;
}
h3 {
  font-family: var(--source-sans-font);
  color: var(--white);
}
h4, h5 {
  font-family: var(--source-sans-font);
  font-size: 0.8125em;
  line-height: 1em;
  text-transform: uppercase;
  color: var(--gold);
}
h5 {
  font-family: var(--playfair-font);
}
p {
  font-family: var(--source-sans-font);
  font-size: 0.875em;
  line-height: 2.0625em;

}
a {
  text-decoration: none;
  font-size: 0.875em;
  font-family: var(--playfair-font);
  color: var(--gold);
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover {
  color: #fff;
}
.white-bg a:hover,
.white-bg a:focus,
.cream-bg a:hover,
.cream-bg a:focus {
  color: #182638;
}
a.button{
  color: #b37c57 !important;
display: inline-flex;
  zoom: 1;*/
/*  _height: 51px;*/
  margin: 0 auto;
  padding: 27px 35px 27px 38px;
  border: none;
  box-shadow: inset 0px 0px 0px 3px var(--gold);
    -webkit-box-shadow: inset 0px 0px 0px 3px var(--gold);
    -moz-box-shadow: inset 0px 0px 0px 3px var(--gold);
  font-family: var(--source-sans-font);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
  line-height: 14px;
  font-weight: 700;
  transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  background-color: transparent;
  cursor: pointer;
}
a.button:hover {
  background-color: var(--gold);
  color: var(--white) !important;
} 
ul {
  display: flex;
}
li {
  display: inline-flex;
  padding: 0 4%;
}
section {
  display: flex;
}


/*home*/
/*hero header*/
.hero {
  display: block;
  width: 100%;
  min-height: 80vh;
}


/*footer*/
footer {
  background-color: var(--navy, midnightblue);
}
