/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*utiity classes*/
/*relative*/
/*absolute*/
/*boxed*/
/*full-width*/

/*clearfix*/
/*.clearfix:before,
.footer:before {
  content: '';
  display: table;
}

.clearfix:after,
.footer:after {
  content: '';
  display: table;
  clear: both;
}*/

/*STRUCTURE*/
html, 
body {
  height: 100%;
  width: 100%;

}

section {
}


/*utility classes*/
.browser-height {
  min-height: 750px;
  height: 100vh;
}
.box-wide {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
}
.box-narrow {
  width: 80%;
  margin: 0 auto;
  max-width: 1600px;
}
.expanded {
  display: block;
}

/*GENERAL STYLING*/

:root {
/*colors*/
  --navy: #1b2535;
  --darknavy: #182638;
  --gold: #b37c57;
  --white: #ffffff;
  --black: #000000;
/*fonts*/
  --playfair-font: 'Playfair Display', serif;;
  --source-sans-font: 'Source Sans Pro', sans-serif;
}
/*custom animations*/
@-webkit-keyframes customfadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*main elements*/

h1 {
  font-family: var(--playfair-font);
  font-size: 4.4375em;
  line-height: 0.9342105263em;
  letter-spacing: 2px;
}
h2 {
  font-family: var(--playfair-font);
  font-size: 2.625em;
  line-height: 1.2857142857em;
}
h3 {
  font-family: var(--source-sans-font);
  color: var(--white);
  font-size: 0.875em;
  line-height: 1.4285714286em;
  text-transform: uppercase;
  letter-spacing: 4px;
}
h4, h5 {
  font-family: var(--source-sans-font);
  color: var(--gold);
  font-size: 0.8125em;
  line-height: 1em;
  text-transform: uppercase;
}
h5 {
  font-family: var(--playfair-font);
  color: var(--gold);
  font-size: 0.8125em;
  line-height: 1.2307692308em;
  letter-spacing: 3px;
}
p {
  font-family: var(--source-sans-font);
  font-size: 0.875em;
  line-height: 2.0625em;

}
a {
  text-decoration: none;
  font-size: 0.875em;
  font-family: var(--playfair-font);
  color: var(--gold);
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover {
  color: #fff;
}
a.button{
  color: #b37c57;
  display: inline-flex;
  zoom: 1;
  margin: 0 auto;
  padding: 27px 35px 27px 38px;
  border: none;
  box-shadow: inset 0px 0px 0px 3px var(--gold);
    -webkit-box-shadow: inset 0px 0px 0px 3px var(--gold);
    -moz-box-shadow: inset 0px 0px 0px 3px var(--gold);
  font-family: var(--source-sans-font);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
  line-height: 14px;
  font-weight: 700;
  transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  background-color: transparent;
  cursor: pointer;
}
a.button:hover {
  background-color: var(--gold);
  color: var(--white);
} 
ul {
}
li {
}

/*home*/
/*hero*/
.hero {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  text-align: center;
  background: 
    linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),
    url("../assets/Villiers-CorpHosp-HeaderImages-RoyalAscot-1600x1033.jpg"); 
  background-size: cover;
  width: auto;
}

.header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  flex: 2;
  cursor: pointer;
}
  .main-menu i {
    justify-content: flex-start;
    font-size: 30px;
    color: var(--white);
    font-weight: 400;
  }
  .main-menu i:hover {
    color: var(--gold);
  }
  .main-menu--wrapper {
    display: none;
  }

.logo--container {
  flex-grow: 25;
}
  .logo--container img {
    align-items: center;
    width: 175px;
    margin-top: 50px;
    transform: translateX(50%);
  }

.phone-number--container {
  flex-grow: 1;
}
  .contact-number {
    font-family: var(--source-sans-font);
    font-size: 0.8125em;
    line-height: 1em;
    letter-spacing: 1px;
    color: var(--gold);
  }
  .fa-phone {
    margin-right: 8px;
  }

.search-icon--container {
  display: flex;
  justify-content: center;
  padding-left: 4%;
}
  .search-icon--container i {
    font-size: 1.125em;
    line-height: 1em;
    color: var(--white);
  }
  .search-icon--container i:hover {
    color: var(--gold);
  }

.title--container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 80%;
  max-width: 1050px;
  height: 100%;
  margin: 0 auto;
}

.main-title {
  color: var(--white);
  margin-bottom: 70px;
}


/*section-two*/
.section-two {
  display: flex;
  justify-content: space-between;
}

.section-two--title-container {
  width: 50vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 70px 6% 0 10%;
}

.section-two--title {
  margin-bottom: 40px;
  color: var(--navy);
  font-size: 2.625em;
  line-height: 1.2857142857em;
  letter-spacing: 2px;
}

a.section-two--button {
  margin: 0;
}

.section-two--img-container {
  width: 50vw; 
}
  .section-two--img-container img {
    height: auto;
    max-height: 100%;
    max-width: 50vw;
  }


/*section-three*/
.section-three {
  display: flex;
}
.slide-one {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
  background: 
    linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),
    url("../assets/brochure--event-image.jpg"); 
  background-size: cover;
  width: auto;
}
.slide--label {
  flex-grow: 1;
  position: relative;
  margin-top: 40px;
}
  .slide--label:before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: var(--gold);
    position: absolute;
    top: 8px;
    left: 37vw;
  }
  .slide--label:after {
    content: "";
    width: 30px;
    height: 1px;
    background-color: var(--gold);
    position: absolute;
    top: 8px;
    right: 37vw;
  }

.slide--container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide--inner-content {
  flex-grow: 1;
}
  .slide--inner-content h1 {
    color: var(--white);
    font-size: 3.25em;
    line-height: 1.2307692308em;
  }

/*section-four*/
.section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-four--container--one {
  align-self: stretch;
}


.box-one {
  background: 
    linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),
    url("../assets/villiers-taylor-swift.jpg");
}

.box-two {
  background: 
    linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),
    url("../assets/villiers-eminem.jpg");
}

.box-three {
  background: 
    linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),
    url("../assets/villiers-balthazar.jpg");
}



.signup--input {
  padding: 20px 20px;
  border: 3px solid var(--gold);
  margin: 0;
  outline: none;
  font-size: 18px;
  line-height: 22px;
}


/*footer*/
footer {
  background-color: var(--navy);
}

.footer-menu--container {
  
}
.footer-menu {
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--gold);
}
  .footer-menu a {
    font-size: 0.875em;
    letter-spacing: 4px;
    color: var(--white);
  }

.footer-bottom--container {
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 30px 0;
}

.first-column {
  display: flex;
  flex-direction: column;
}

.social-icons {
  margin-bottom: 25px; 
}
  .social-icons a {
    margin-right: 8px;

  }
  .social--icon img {
    width: 24px;
  }

.copyright {
  align-self: flex-end;
}
  .copyright p {
    color: var(--white);
  }

.footer--logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.footer--secondary-menu {
  align-self: flex-end;
}
.footer--secondary-menu ul {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
  .footer--secondary-menu ul li {
    margin-left: 19px;
    padding-left: 20px;
    border-left: 1px solid var(--white);
  }
  .footer--secondary-menu ul li:first-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
  }
  .footer--secondary-menu a {
    font-family: var(--source-sans-font);
    text-transform: none;
    font-size: 0.875;
    font-weight: 400;
    color: var(--white);
  }



/*media-queries*/
@media only screen and (max-width: 1400px), screen and (max-height: 880px) {
  h1 {
    font-size: 3.4375em;
    line-height: 1.0666666667em;
    margin-bottom: 50px !important;
  }
  h2,
  .section-two--title  {
    font-size: 2.25em;
    line-height: 1.1666666667em;
    margin-bottom: 25px;
  } 

}

@media only screen and (max-width: 1024px) {
  h2,
  .section-two--title {
    font-size: 1.65em;
    line-height: 1.5333333333em;
  }
  .button {
    padding: 20px 30px 20px 33px;  
  }
  .section-two--title-container {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 70px 3% 0 5%;
}

}